.deps
.libs
*.o
*.lo
*.la
+*
autom4te.cache
aclocal.m4
compile
depcomp
INSTALL
Makefile
Makefile.in
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
libtool
lightning-*.tar.*
ltmain.sh
missing
size
stamp-h1
test-driver
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
doc/mdate-sh
doc/texinfo.tex
lightning.pc
doc/fact
doc/ifib
doc/incr
doc/printf
doc/rfib
doc/rpn
check/*.log
check/*.trs
check/*.nodata
check/3to2
check/add
check/align
check/allocai
check/allocar
check/all.tst
check/alu_add
check/alu_and
check/alu_com
check/alu_div
check/alu_lsh
check/alu_mul
check/alu_neg
check/alu_or
check/alu_rem
check/alu_rsb
check/alu_rsh
check/alu_sub
check/alux_add
check/alu_xor
check/alux_sub
check/bp
check/branch
check/call
check/carg
check/carry
check/ccall
check/clobber
check/ctramp
check/cva_list
check/cvt
check/divi
check/fib
check/float
check/fop_abs
check/fop_sqrt
check/hton
check/hton.ok
check/jmpr
check/ldsti
check/ldstr
check/ldstr-c
check/ldstxi
check/ldstxi-c
check/ldstxr
check/ldstxr-c
check/lightning
check/nodata
check/put
check/qalu_div
check/qalu_mul
check/range
check/ranger
check/ret
check/rpn
check/self
check/setcode
check/stack
check/tramp
check/va_list
check/varargs
