*.o
+*
/lightning.info
/tests/test-addr
/tests/test-addi
/tests/test-addr_d
/tests/test-addr_f
/tests/test-addx
/tests/test-mulr
/tests/test-mulr_d
/tests/test-mulr_f
/tests/test-subr
/tests/test-subr_d
/tests/test-subr_f
/tests/test-subx
/tests/test-qmulr
/tests/test-qmulr_u
/tests/test-divr
/tests/test-divr_u
/tests/test-divr_d
/tests/test-divr_f
/tests/test-qdivr
/tests/test-qdivr_u
